# Database
DATABASE_URL=postgresql://crewhub_owner:npg_jPKb0B3JgHsF@ep-purple-sun-a8ufhdfb-pooler.eastus2.azure.neon.tech/crewhub?sslmode=require

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# App URL
VITE_APP_URL=http://localhost:8080